<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type='text/css' href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

<h1>jQuery Example</h1>
<p><input type=text size=10 name=a> +
    <input type=text size=10 name=b> =
    <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
<p><a href=# id=pokaz>poka poka</a>
    <span id=wynik></span>
<p><a href=# id=new_page_button>nowy strone</a>
<input type=text size=39 name=city>
<p><a href=/list>poka liste</a>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"><a href="/s">GO</a></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        STORIES UP1-UP2</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
     <div id="cover-block" align="center">
<a href="s.html??u1s1"><img class="cover" src="static/img/covers/u1s1.jpg"/></a>
<a href="s.html??u1s2"><img class="cover" src="static/img/covers/u1s2.jpg"/></a>
<a href="s.html??u1s3"><img class="cover" src="static/img/covers/u1s3.jpg"/></a>
<a href="s.html??u1s4"><img class="cover" src="static/img/covers/u1s4.jpg"/></a>
<a href="s.html??u1s5"><img class="cover" src="static/img/covers/u1s5.jpg"/></a>
<a href="s.html??u1s6"><img class="cover" src="static/img/covers/u1s6.jpg"/></a>
<a href="s.html??u1s7"><img class="cover" src="static/img/covers/u1s7.jpg"/></a>
<a href="s.html??u1s8"><img class="cover" src="static/img/covers/u1s8.jpg"/></a>
<a href="s.html??u2s1"><img class="cover" src="static/img/covers/u2s1.jpg"/></a>
<a href="s.html??u2s2"><img class="cover" src="static/img/covers/u2s2.jpg"/></a>
<a href="s.html??u2s3"><img class="cover" src="static/img/covers/u2s3.jpg"/></a>
<a href="s.html??u2s4"><img class="cover" src="static/img/covers/u2s4.jpg"/></a>
<a href="s.html??u2s5"><img class="cover" src="static/img/covers/u2s5.jpg"/></a>
<a href="s.html??u2s6"><img class="cover" src="static/img/covers/u2s6.jpg"/></a>
<a href="s.html??u2s7"><img class="cover" src="static/img/covers/u2s7.jpg"/></a>
<a href="s.html??u2s8"><img class="cover" src="static/img/covers/u2s8.jpg"/></a>
</div>
    </div>
  </div>
</div>
</body>
</html>