<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link type='text/css' href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!--<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
      <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
      <title>{% block title %}{% endblock %}</title>
      {% block head %}
      {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>