{% extends "layout.html" %}
{% block title %}Story: {{ d['storyTitle'] }}{% endblock %}
{% block head %}
        <script src="{{ url_for('static', filename='js/sound.js') }}"></script>
{% endblock %}
{% block body %}
<h1 class="story-title">{{ d['storyTitle'] }}</h1>
<div id="story-block">
    {% set audio_id = [0] %}
    {% for page in d.storyContent %}
        {% for sentence in page.sentences %}
            {% if audio_id.append(audio_id.pop() + 1) %}{% endif %}
            <span id="{{ audio_id[0] }}">{{ sentence|safe }}</span>
        {% endfor %}
    {% endfor %}

   {% set number_of_audio_id = audio_id[0] %}
</div>

<a href="/">Go Back</a>

{% for n in range(number_of_audio_id) %}
    <audio id="a{{ n+1 }}" src="static/audio/stories/{{ d['storyId'] }}/{{ n+1 }}.mp3" preload="auto"></audio>
{% endfor %}




{% endblock %}
